		body {
			background-color: #333333;
			color: #ffffff;
			font-family: Aptos;
			margin: 0;
			padding: 0;
		}

		header {
			background-image: url('http://4.bp.blogspot.com/-cQ4XnoW4Ysc/Tzbg3Jh25VI/AAAAAAAAA74/xFjSDny2SqU/s1600/21.Jpg');
			background-position: center;
			background-size: cover;
			height: 400px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		h1 {
			font-size: 4em;
			text-shadow: 2px 2px 5px #000000;
		}

		nav {
			background-color: #222222;
			display: flex;
			justify-content: center;
			padding: 10px 0;
		}

		nav a {
			color: #ffffff;
			font-size: 1.2em;
			padding: 0 20px;
			text-decoration: none;
			text-transform: uppercase;
		}

		nav a:hover {
			color: #00ccff;
		}

		section {
			padding: 50px;
			text-align: center;
		}

		section h2 {
			font-size: 2em;
			margin-bottom: 20px;
			text-shadow: 2px 2px 5px #000000;
		}

		section p {
			font-size: 1.2em;
			line-height: 1.5;
			margin-bottom: 30px;
		}

		section ul {
			list-style-type: none;
			padding: 0;
		}

		section li {
			font-size: 1.2em;
			line-height: 1.5;
			margin-bottom: 10px;
		}

		footer {
			background-color: #222222;
			color: #ffffff;
			padding: 20px 0;
			text-align: center;
		}

		footer p {
			font-size: 1.2em;
			padding: 0;
			margin: 0;
		}
		

		.image {
		flex: 0 0 auto;
		margin-right: 20px;
		}

		.text {
		flex: 1 1 auto;
		}

		.hidden {
			display: none;
		}

		#youtubeVideo {
         display: none;
      	}

		#myPDF {
			width: 80%;
			height: 975px;
		}